spring:
  datasource:
    url: jdbc:postgresql://db_httt:5432/PharmacyManagement
    username: postgres
    password: password
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true