# .github/workflows/cd.yml
name: CD Deployment

on:
  push:
    branches: [ "main" ] # Chỉ chạy khi code đã được merge vào main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Dùng commit hash làm tag để quản lý version chuẩn doanh nghiệp
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:${{ github.sha }}, ${{ secrets.DOCKERHUB_USERNAME }}/springboot-app:latest

